<div class="row">
  <div class="col-lg-6">
    <!-- [gapSize]="1" [pointRange]="1" [title]="title"    [rangeSelector]="rangeSelector"-->
    <pixie-highcharts [type]="type" [isStock]="true" [zoomType]="zoomType" [data]="data" [navigatorData]="navigatorData"
      [xAxis]="xAxis" [yAxis]="yAxis" [footer]="footer" [colors]="color" [colorAxis]="colorAxis" [tooltip]="tooltip"
      [export]="export" [config]="config" [isRangeSelector]="isRangeSelector" [isRangeInput]="isRangeInput" [navigator]="navigator"
      [isLegend]="isLegend" [isAxisPrefix]="isAxisPrefix" [axisPrefixFloat]="axisPrefixFloat" [isGroup]="isGroup"
      [isUTC]="isUTC" [isBoost]="isBoost" [isStacked]="isStacked" [isPointRange]="isPointRange" [isGap]="isGap"
      [isXScrollbar]="isXScrollbar" [isYScrollbar]="isYScrollbar" (load)="onLoad($event)" (chartClick)="onEventClick($event,'chart@click')"
      (addSeries)="onEventClick($event,'chart@addSeries')" (afterPrint)="onEventClick($event,'chart@afterPrint')"
      (drilldown)="onEventClick($event,'chart@drilldown')" (drillup)="onEventClick($event,'chart@drillup')" (redraw)="onEventClick($event,'chart@redraw')"
      (load)="onEventClick($event,'chart@load')" (selection)="onEventClick($event,'chart@selection')">

      <series (legendItemClick)="onEventClick($event,'series@legendItemClick')" (mouseOut)="onEventClick($event,'series@mouseOut')"
        (mouseOver)="onEventClick($event,'series@mouseOver')" (checkboxClick)="onEventClick($event,'series@checkboxClick')"
        (hide)="onEventClick($event,'series@hide')" (show)="onEventClick($event,'series@show')" (click)="onEventClick($event,'series@click')"
        (afterAnimate)="onEventClick($event,'point@afterAnimate')">

        <point (mouseOut)="onEventClick($event,'point@mouseOut')" (mouseOver)="onEventClick($event,'point@mouseOver')"
          (remove)="onEventClick($event,'point@remove')" (select)="onEventClick($event,'point@select')" (unselect)="onEventClick($event,'point@unselect')"
          (update)="onEventClick($event,'point@update')" (click)="onEventClick($event,'point@click')"></point>
      </series>

      <xAxis (afterSetExtremes)="onEventClick($event,'xAxis@afterSetExtremes')"></xAxis>
      <yAxis (afterSetExtremes)="onEventClick($event,'yAxis@afterSetExtremes')"></yAxis>
      <zAxis (afterSetExtremes)="onEventClick($event,'zAxis@afterSetExtremes')"></zAxis>

      <colorAxis (afterSetExtremes)="onEventClick($event,'colorAxis@afterSetExtremes')" (legendItemClick)="onEventClick($event,'colorAxis@legendItemClick')"
        (setExtremes)="onEventClick($event,'colorAxis@setExtremes')"></colorAxis>

      <navigation (deselectButton)="onEventClick($event,'navigation@deselectButton')" (hidePopup)="onEventClick($event,'navigation@hidePopup')"
        (selectButton)="onEventClick($event,'navigation@selectButton')" (showPopup)="onEventClick($event,'navigation@showPopup')"></navigation>
    </pixie-highcharts>

  </div>
  <div class="col-lg-6">
    <form novalidate [formGroup]="formGroupChart">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>[type] :</label>
          <textarea class="form-control" rows="1" formControlName="type"></textarea>
        </div>
        <div class="col-lg-6">
          <label>[zoomType] :</label>
          <textarea class="form-control" rows="1" formControlName="zoomType"></textarea>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-lg-6">
          <label>[data] :</label>
          <textarea class="form-control" rows="1" formControlName="data"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[navigatorData] :</label>
          <textarea class="form-control" rows="1" formControlName="navigatorData"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[title] :</label>
          <textarea class="form-control" rows="1" formControlName="title"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[footer] :</label>
          <textarea class="form-control" rows="1" formControlName="footer"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[xAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="xAxis"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[yAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="yAxis"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[rangeSelector] :</label>
          <textarea class="form-control" rows="1" formControlName="rangeSelector"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[navigator] :</label>
          <textarea class="form-control" rows="1" formControlName="navigator"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[color] :</label>
          <textarea class="form-control" rows="1" formControlName="color"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[colorAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="colorAxis"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[tooltip] :</label>
          <textarea class="form-control" rows="1" formControlName="tooltip"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[locale] :</label>
          <select class="form-control" rows="1" formControlName="localeModel">
            <option *ngFor="let d of locale" [value]="d">
              {{d}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>[export] :</label>
        <textarea class="form-control" rows="1" formControlName="export"></textarea>
      </div>
      <div class="form-group">
        <label>[config] :</label>
        <textarea class="form-control" rows="1" formControlName="config"></textarea>
      </div>

      <div class="form-group ">
        <div class="row">
          <label class="checkbox-inline" for="isLegend">
            <input type="checkbox" id="isLegend" [checked]="isLegend" (click)="toggle($event.target.checked,'isLegend')">
            [isLegend]</label>

          <label class="checkbox-inline" for="isAxisPrefix">
            <input type="checkbox" id="isAxisPrefix" [checked]="isAxisPrefix" (click)="toggle($event.target.checked,'isAxisPrefix')">
            [isAxisPrefix]</label>

          <label class="checkbox-inline" for="isStacked">
            <input type="checkbox" id="isStacked" [checked]="isStacked" (click)="toggle($event.target.checked,'isStacked')">
            [isStacked]</label>

          <label class="checkbox-inline" for="isGroup">
            <input type="checkbox" id="isGroup" [checked]="isGroup" (click)="toggle($event.target.checked,'isGroup')">
            [isGroup]</label>

          <label class="checkbox-inline" for="isUTC">
            <input type="checkbox" id="isUTC" [checked]="isUTC" (click)="toggle($event.target.checked,'isUTC')">
            [isUTC]</label>

          <label class="checkbox-inline" for="isGap">
            <input type="checkbox" id="isGap" [checked]="isGap" (click)="toggle($event.target.checked,'isGap')">
            [isGap]</label>

          <label class="checkbox-inline" for="isBoost">
            <input type="checkbox" id="isBoost" [checked]="isBoost" (click)="toggle($event.target.checked,'isBoost')">
            [isBoost]</label>


          <label class="checkbox-inline" for="isPointRange">
            <input type="checkbox" id="isPointRange" [checked]="isPointRange" (click)="toggle($event.target.checked,'isPointRange')">
            [isPointRange]</label>
        </div>

        <div class="row">
          <label class="checkbox-inline" for="isRangeSelector">
            <input type="checkbox" id="isRangeSelector" [checked]="isRangeSelector" (click)="toggle($event.target.checked,'isRangeSelector')">
            [isRangeSelector]</label>

          <label class="checkbox-inline" for="isRangeInput">
            <input type="checkbox" id="isRangeInput" [checked]="isRangeInput" (click)="toggle($event.target.checked,'isRangeInput')">
            [isRangeInput]</label>

          <label class="checkbox-inline" for="isXScrollbar">
            <input type="checkbox" id="isXScrollbar" [checked]="isXScrollbar" (click)="toggle($event.target.checked,'isXScrollbar')">
            [isXScrollbar]</label>

          <label class="checkbox-inline" for="isYScrollbar">
            <input type="checkbox" id="isYScrollbar" [checked]="isYScrollbar" (click)="toggle($event.target.checked,'isYScrollbar')">
            [isYScrollbar]</label>
        </div>
      </div>
    </form>
    <button type="button" class="btn btn-info" (click)="exportClicked()">Export</button>
  </div>
</div>
