<div class="row">
  <div class="col-lg-6">
    <!-- [gapSize]="1" [pointRange]="1" [type]="type" [colors]="color" [colorAxis]="colorAxis" [xAxis]="xAxis" [yAxis]="yAxis" -->
    <pixie-highcharts [title]="title"  [zoomType]="zoomType" [data]="data"
      [footer]="footer"  [tooltip]="tooltip" [export]="export" [config]="config"
      [isLegend]="isLegend" [isAxisPrefix]="isAxisPrefix" [axisPrefixFloat]="axisPrefixFloat" [isMap]="true" [isGroup]="isGroup"
      [isUTC]="isUTC" [isBoost]="isBoost" [isStacked]="isStacked" [isPointRange]="isPointRange" [isGap]="isGap" (load)="onLoad($event)"
      (chartClick)="onEventClick($event,'chart@click')" (addSeries)="onEventClick($event,'chart@addSeries')"
      (afterPrint)="onEventClick($event,'chart@afterPrint')" (drilldown)="onEventClick($event,'chart@drilldown')"
      (drillup)="onEventClick($event,'chart@drillup')" (redraw)="onEventClick($event,'chart@redraw')" (load)="onEventClick($event,'chart@load')"
      (selection)="onEventClick($event,'chart@selection')">

      <!-- <series (legendItemClick)="onEventClick($event,'series@legendItemClick')" (mouseOut)="onEventClick($event,'series@mouseOut')"
        (mouseOver)="onEventClick($event,'series@mouseOver')" (checkboxClick)="onEventClick($event,'series@checkboxClick')"
        (hide)="onEventClick($event,'series@hide')" (show)="onEventClick($event,'series@show')" (click)="onEventClick($event,'series@click')"
        (afterAnimate)="onEventClick($event,'point@afterAnimate')">

        <point (mouseOut)="onEventClick($event,'point@mouseOut')" (mouseOver)="onEventClick($event,'point@mouseOver')"
          (remove)="onEventClick($event,'point@remove')" (select)="onEventClick($event,'point@select')" (unselect)="onEventClick($event,'point@unselect')"
          (update)="onEventClick($event,'point@update')" (click)="onEventClick($event,'point@click')"></point>
        <xAxis (afterSetExtremes)="onEventClick($event,'xAxis@afterSetExtremes')"></xAxis>
        <yAxis (afterSetExtremes)="onEventClick($event,'yAxis@afterSetExtremes')"></yAxis>
        <zAxis (afterSetExtremes)="onEventClick($event,'zAxis@afterSetExtremes')"></zAxis>

      </series> -->

    </pixie-highcharts>
  </div>
  <div class="col-lg-6">
    <form novalidate [formGroup]="formGroupChart">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>[type] :</label>
          <textarea class="form-control" rows="1" formControlName="type"></textarea>
        </div>
        <div class="col-lg-6">
          <label>[zoomType] :</label>
          <textarea class="form-control" rows="1" formControlName="zoomType"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label>[data] :</label>
        <textarea class="form-control" rows="1" formControlName="data"></textarea>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[title] :</label>
          <textarea class="form-control" rows="1" formControlName="title"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[footer] :</label>
          <textarea class="form-control" rows="1" formControlName="footer"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[xAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="xAxis"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[yAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="yAxis"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-6">
          <label>[color] :</label>
          <textarea class="form-control" rows="1" formControlName="color"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[colorAxis] :</label>
          <textarea class="form-control" rows="1" formControlName="colorAxis"></textarea>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-lg-6">
          <label>[tooltip] :</label>
          <textarea class="form-control" rows="1" formControlName="tooltip"></textarea>
        </div>

        <div class="col-lg-6">
          <label>[locale] :</label>
          <select class="form-control" rows="1" formControlName="localeModel">
            <option *ngFor="let d of locale" [value]="d">
              {{d}}
            </option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label>[export] :</label>
        <textarea class="form-control" rows="1" formControlName="export"></textarea>
      </div>
      <div class="form-group">
        <label>[config] :</label>
        <textarea class="form-control" rows="1" formControlName="config"></textarea>
      </div>
      <div class="form-group">



        <label class="toggle col-sm-1">[isLegend]
          <input type="checkbox" [checked]="isLegend" (click)="toggle($event.target.checked,'isLegend')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isAxisPrefix]
          <input type="checkbox" [checked]="isAxisPrefix" (click)="toggle($event.target.checked,'isAxisPrefix')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">&nbsp;[isStacked]
          <input type="checkbox" [checked]="isStacked" (click)="toggle($event.target.checked,'isStacked')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isGroup]
          <input type="checkbox" [checked]="isGroup" (click)="toggle($event.target.checked,'isGroup')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isUTC]
          <input type="checkbox" [checked]="isUTC" (click)="toggle($event.target.checked,'isUTC')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isGap]
          <input type="checkbox" [checked]="isGap" (click)="toggle($event.target.checked,'isGap')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isBoost]
          <input type="checkbox" [checked]="isBoost" (click)="toggle($event.target.checked,'isBoost')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <label class="toggle col-sm-1">[isPointRange]
          <input type="checkbox" [checked]="isPointRange" (click)="toggle($event.target.checked,'isPointRange')">
          <span class="handle" style="top:0 !important"></span>
        </label>

        <!-- <label></label>
        <textarea class="form-control" rows="1" formControlName="isLegend"></textarea> -->
      </div>
    </form>
    <button type="button" class="btn btn-info" (click)="exportClicked()">Export</button>
  </div>
</div>
